@import url("https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&family=Marcellus&family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");

@font-face {
  font-family: Helvetica;
  src: url(./../assets/Helvetica-Font/Helvetica.ttf) format("truetype");
}

@font-face {
  font-family: Helvetica-Bold;
  src: url(./../assets/Helvetica-Font/Helvetica-Bold.ttf) format("truetype");
}

@font-face {
  font-family: Helvetica-BoldOblique;
  src: url(./../assets/Helvetica-Font/Helvetica-BoldOblique.ttf) format("truetype");
}

@font-face {
  font-family: Helvetica-Oblique;
  src: url(./../assets/Helvetica-Font/Helvetica-Oblique.ttf) format("truetype");
}

@font-face {
  font-family: Helvetica-light;
  src: url(./../assets/Helvetica-Font/helvetica-light-587ebe5a59211.ttf) format("truetype");
}

$font-family: "Poppins", sans-serif;
$font-family2: "Marcellus", serif;
$font-family3: "Inter", sans-serif;
$font-family4: "Roboto", sans-serif;
$font-helvetica: Helvetica, sans-serif;
$font-Helvetica-Bold: Helvetica-Bold, sans-serif;
$font-Helvetica-BoldOblique: Helvetica-BoldOblique, sans-serif;
$font-Helvetica-Oblique: Helvetica-Oblique, sans-serif;
$font-Helvetica-Bold: Helvetica-Bold, sans-serif;
$font-Helvetica-light: Helvetica-light, sans-serif;

$main-color: #000;
$bg-body: #000;
$bg-element-brown: #c784104d;
$bg-element-gray: #202020;
$bg-feedback: #2e2e2e;
$bg-box-gray: #303030;
$bg-main-btn: #c78410;
$highlight-color: #c78410;
$text-project: #a1a1a1;
$text-black: #000;
$text-white: #ffffff;
$text-blur-white: rgba(255, 255, 255, 0.6);
$text-dark-white: #bfbfbf;
$border-color: #fff;
$border-line: #8a8a8a;

$bg-contact: rgba(0, 0, 0, 0.1);
$border-contact: #3f3f3f;

$border-header: #343434;

$easeInOut: cubic-bezier(0.42, 0, 0.58, 1);

.h6-text {
  font-family: $font-family;
  font-weight: 300;
  letter-spacing: 2.8px;
  text-transform: uppercase;
}

.hover-button {
  position: relative;
  transition: all 0.5s $easeInOut;

  &:before,
  &:after {
    content: "";
    position: absolute;
    display: block;
    box-sizing: border-box;
    top: 0;
    left: 0;
    top: 0;
    width: 0;
    height: 100%;
    transition: all 0.5s $easeInOut;
  }

  &:before {
    left: 0;
    width: 0;
    color: white;
    border: 1px solid white;
    opacity: 0;
  }

  &:after {
    left: 100%;
    width: 0;
    color: white;
    border: 1px solid white;
    opacity: 0;
  }

  &:hover:before {
    width: 100%;
    opacity: 1;
  }

  &:hover:after {
    width: 100%;
    left: 0;
    opacity: 1;
  }
}

.hover-button2 {
  position: sticky;

  // position: relative;
  overflow: hidden;
  transition: all 0.35s;

  &:before,
  &:after {
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    top: -100%;
    left: 0;
    background: $highlight-color;
    z-index: -1;
    transition: all 0.35s;
  }

  &:before {
    opacity: 0.5;
  }

  &:after {
    transition-delay: 0.2s;
  }

  &:hover:before,
  &:hover:after {
    border-color: $highlight-color;
    top: 0;
  }
}

.hover-link {
  transition: all 0.4s ease;

  svg {
    path {
      transition: all 0.4s ease;
    }
  }

  &:hover {
    color: $highlight-color;

    svg {
      path {
        fill: $highlight-color;
      }
    }
  }
}

.hover-img {
  img {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transition: all 0.75s ease-in-out;
    transition: all 0.75s ease-in-out;
  }

  &:hover {
    img {
      -webkit-transform: scale(1.2);
      transform: scale(1.2);
      opacity: 0.9;
    }
  }
}

@keyframes scroll {
  0% {
    margin-right: 0;
    transition: all 0.1s ease;
  }

  100% {
    margin-right: 100%;
    transition: all 0.1s ease;
  }
}

@keyframes borderRadius {
  0% {
    border-top-right-radius: 0px;
  }

  25% {
    border-top-right-radius: 25px;
  }

  50% {
    border-top-right-radius: 50px;
  }

  75% {
    border-top-right-radius: 75px;
  }

  100% {
    border-top-right-radius: 100px;
  }
}

@keyframes overlay {
  0% {
    background-color: rgba(0, 0, 0, 0.2);
  }

  50% {
    width: 50%;
    height: 50%;
    background-color: rgba(0, 0, 0, 0.5);
  }

  100% {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
  }
}

@-webkit-keyframes flash {
  0% {
    opacity: 0.4;
  }

  100% {
    opacity: 1;
  }
}

@keyframes flash {
  0% {
    opacity: 0.4;
  }

  100% {
    opacity: 1;
  }
}